<!DOCTYPE html>
<html lang="en">
<head>
    <title>Postify - Blogs</title>
    <%- include('./partials/head/') %>
</head>
<body>

    <%- include('./partials/navbar.ejs') %>
    <div class="container mt-4">
        <h1 class="text-center">Explore Blogs</h1>
    </div>
    <hr class="my-4 mx-auto w-75">
    <div class="container mt-5">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <% if (locals.blogData) { %>
             <% blogData.forEach(blog => { %>
                <div class="col">
                    <div class="card h-100">
                      <img src="<%= blog.coverImg %>" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title"> <%= blog.blogTitle %> </h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <!-- <p class="card-text"> <%= blog.blogBody %> </p> -->

                      </div>
                    </div>
                  </div> 
             <% }) %>
            <% } %>                    
    </div>    
    <%- include('./partials/script.ejs') %>
</body>
</html>