<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs') %>

        <title>Postify - Login</title>

</head>

<body>

    <%- include('./partials/navbar.ejs') %>

    <% if (locals.authErr) { %>
        <div class="container my-4">
            <div class="alert alert-danger w-75 mx-auto" role="alert">
                <%= authErr %>
              </div>          
        </div>
    <% } %>

        <div class="container my-4">
            <div class="row mx-1">
                
                <div class="col-12 col-md-6 mx-auto p-3  border border-black rounded">


                    <h1 class="mt-3 text-center">Login</h1>
                <hr class="w-75 mx-auto mb-4">

                    <form method="post" action="/api/login">
                         
                        <div class="mb-3">
                            <label for="username">Username</label>
                            <input type="text" class="form-control" name="username" required id="username">
                        </div>

                        <div class="mb-3">
                          <label for="password" class="form-label">Password</label>
                          <input type="password" class="form-control" name="password" required id="password">
                        </div>

                        <div class="mb-3 text-center">
                            <a href="#">Forget Password?</a>
                        </div>
                       
                        <button type="submit" class="btn btn-primary">Login</button>
                      </form>
                </div>
            </div>
        </div>

        <%- include('./partials/footer.ejs') %>
            <%- include('./partials/script.ejs') %>

</body>

</html>